.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #152850;
  height: 100vh;
}

.login-container {
  background-color: #e0eefe;
  height: 65vh;
  width: 55vw;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.website-login-image {
  height: 50vh;
  width: 30vw;
  margin: 10px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  width: 25vw;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 20px 30px;
}

.heading-greetings {
  color: #183b56;
  font-family: 'Roboto';
  font-size: 24px;
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .heading-greetings {
    font-size: 32px;
    margin-bottom: 12px;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.label-style {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #5a7184;
}

@media screen and (min-width: 768px) {
  .label-style {
    font-size: 18px;
    font-weight: bold;
  }
}

.input-style {
  height: 35px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid #c3cad9;
  font-family: 'Roboto';
  font-size: 14px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .input-style {
    font-size: 18px;
    height: 45px;
    margin-top: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
  }
}

.btn-login {
  width: 100%;
  color: #ffffff;
  background-color: #1565d8;
  margin-top: 12px;
  height: 35px;
  border-radius: 8px;
  border-style: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .btn-login {
    font-size: 18px;
    height: 45px;
    margin-top: 16px;
  }
}

.error-message {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ff0b37;
  text-align: center;
  font-weight: 500;
}
